


<!DOCTYPE html>
<html lang="en">
<div class="title-container">
  <h2 class="title">Upload</h2>
</div>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>

</head>
<body>
  <div class="container">
    <div class="wrapper">
      <div class="select-container">
        <mat-form-field class="upload-filter">
          <mat-label>Seleziona tipo Upload</mat-label>
          <mat-select (selectionChange)="cambioSel($event.value)">
            <mat-option value="ATT">Upload Attività</mat-option>
            <mat-option value="ISCR">Upload Immatricolati</mat-option>
            <mat-option value="PROF">Upload Professori Scuole</mat-option>
            <mat-option value="PROFUNICAM">Upload Professori Unicam</mat-option>
            <mat-option value="SINGLEPROF">Upload Single Professore Scuole</mat-option>
            <mat-option value="SINGLEPROFUNICAM">Upload Single Professore Unicam</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="upload">
        <div class="attivita" *ngIf="visualizza == 'ATT'">
         
          <label>Nome attività</label>
          <input type="text" id="text" (change)="cambioNome($event)" placeholder="Attività" required />
          <label>Tipo attività</label>
          <input type="text" id="text" (change)="cambioTipo($event)" placeholder="Tipologia" />

            <label for="sede">Sede</label>
            <select id="sede" name="sede" [(ngModel)]="sede" (change)="onSedeChange($event)" required >
              <option value="">-</option>
              <option value="online">Online</option>
              <option value="università">Università</option>
              <option value="scuola">Scuola</option>
              <option value="altro">Altro</option>
            </select>

         
            <label for="citta">Città della Scuola</label>
            <input type="text" list="cityName" id="citta" name="citta" [(ngModel)]="citta" (change)="cambioCitta($event)" (change)="toggleDropdownS()" autocomplete="off" placeholder="Città" />
              <datalist class="cities-list" id="cityName">
                <option [value]="" >-</option>
                <option *ngFor="let citta of cittaLista" [value]="citta">{{citta}}</option>
              </datalist>


              <label>Scuole Presenti</label>
              <select [(ngModel)]="selectedItem" (change)="onSelectionChangeS($event)" value="Scuole Presenti">
                <option value="">-</option>
                <option *ngFor="let scuola of scuole" [value]="scuola">{{scuola}}</option>
              </select>
         



          <div class="field-group">
            <div class="field-group1">
              <div>
                <label for="annoInizio">Anno Accademico Inizio</label>
                <input type="number" id="annoInizio" name="annoInizio" [(ngModel)]="annoAccademicoInizio" required minlength="4" maxlength="4">
              </div>
              <div>
                <label for="annoFine">Anno Accademico Fine</label>
                <input type="number" id="annoFine" name="annoFine" [(ngModel)]="annoAccademicoFine" required minlength="4" maxlength="4">
              </div>
            </div>

            <div class="field-group2">
              <div>
                <label for="dataInizio">Data Inizio</label>
                <input type="datetime-local" id="dataInizio" name="dataInizio" [(ngModel)]="dataInizio" required>
              </div>
              <div>
                <label for="dataFine">Data Fine</label>
                <input type="datetime-local" id="dataFine" name="dataFine" [(ngModel)]="dataFine" required>
              </div>
            </div>
          </div>

          <label for="descrizione">Descrizione</label>
          <input type="text" id="text" (change)="cambioDescrizione($event)" placeholder="Descrizione"/>

            <label for="pro">Professore Referente</label>
            <input type="text" list="profRefName" id="profRef" name="profRef" [(ngModel)]="prof" (change)="cambioProfRef($event)" (change)="toggleDropdownP()" autocomplete="off" placeholder="Professore Referente" />
              <datalist class="profRef-list" id="profRefName">
                <option [value]="" >-</option>
                <option *ngFor="let prof of professori" [value]="prof">{{prof}}</option>
              </datalist>

            <label for="prof">Professore Unicam</label>
            <input type="text" list="profUniName" id="profUni" name="profUni" [(ngModel)]="profUnicam" (change)="cambioProfUni($event)" (change)="toggleDropdownU()" autocomplete="off" placeholder="Professore Unicam" />
              <datalist class="profUni-list" id="profUniName">
                <option [value]="" >-</option>
                <option *ngFor="let profUnicam of professoriUnicam" [value]="profUnicam">{{profUnicam}}</option>
              </datalist>

          <div class="file-input">
            <input type="file" accept=".xlsx" (change)="onChangeFile($event)" />
          </div>
          <button class="upload-button" (click)="submitAttForm()">Carica!</button>
        
        </div>

        <div class="iscritti" *ngIf="visualizza == 'ISCR'">
          <div class="field-group">
            <div>
              <label for="annoInizio">Anno accademico di inizio:</label>
              <input type="number" id="annoInizio" name="annoInizio" [(ngModel)]="annoAccademicoInizio" required minlength="4" maxlength="4">
            </div>
            <div>
              <label for="annoFine">Anno accademico di fine:</label>
              <input type="number" id="annoFine" name="annoFine" [(ngModel)]="annoAccademicoFine" required minlength="4" maxlength="4">
            </div>
          </div>

          <div class="file-input">
            <input type="file" accept=".xlsx" (change)="onChangeFileIscr($event)" />
          </div>
          <button class="upload-button" (click)="submitIscrForm()">Carica!</button>
        </div>

        <div class="prof" *ngIf="visualizza == 'PROF'">
          <div class="file-input">
            <input type="file" accept=".xlsx" (change)="onChangeFileProf($event)" />
          </div>
          <button class="upload-button" (click)="onclickProf()">Carica!</button>
        </div>

        <div class="profUnicam" *ngIf="visualizza == 'PROFUNICAM'">
          <div class="file-input">
            <input type="file" accept=".xlsx" (change)="onChangeFileProfUnicam($event)" />
          </div>
          <button class="upload-button" (click)="onclickProfUnicam()">Carica!</button>
        </div>

        <div class="singleProf" *ngIf="visualizza == 'SINGLEPROF'">
          <form>
            <div>
              <label for="nome">Nome</label>
              <input type="text" id="text" (change)="cambioNome($event)" placeholder="Nome" />
            </div>
            <div>
              <label for="cognome">Cognome</label>
              <input type="text" id="text" (change)="cambioCognome($event)" placeholder="Cognome" />
            </div>
            <div>
              <label for="email">Email</label>
              <input type="text" id="text" (change)="cambioEmail($event)" placeholder="Email" />
            </div>
            <div>
              <label for="citta">Città della Scuola</label>
              <input type="text" list="cities-prof" id="citta" name="citta" [(ngModel)]="citta" (change)="cambioCitta($event)" (change)="toggleDropdownS()" required autocomplete="off" placeholder="Città">
              <datalist class="cities-list" id="cities-prof">
                <option *ngFor="let citta of cittaLista" [value]="citta">{{citta}}</option>
              </datalist>

              <label for="scuola">Scuola</label>
                <select [(ngModel)]="selectedItem" (change)="onSelectionChangeS($event)">
                  <option value="">-</option>
                  <option *ngFor="let scuola of scuole" [value]="scuola">{{scuola}}</option>
                </select>
            </div>
            <div>
              <label for="attività">Attività</label>
              <input type="text" id="text" (change)="cambioAttivita($event)" placeholder="Attività" />
            </div>
          </form>
          <button class="upload-button" (click)="onclickSingleProf()">Carica!</button>
        </div>

        <div class="singleProfUnicam" *ngIf="visualizza == 'SINGLEPROFUNICAM'">
          <form>
            <div>
              <input type="text" id="text" (change)="cambioNome($event)" placeholder="Nome" />
            </div>
            <div>
              <input type="text" id="text" (change)="cambioCognome($event)" placeholder="Cognome" />
            </div>
            <div>
              <input type="text" id="text" (change)="cambioEmail($event)" placeholder="Email" />
            </div>
          </form>
          <button class="upload-button" (click)="onclickSingleProfUnicam()">Carica!</button>
        </div>
      </div>
    </div>
    <div class="image-container">
      <div class="img-att" *ngIf="visualizza == 'ATT'">
        <h3>Esempio formattazione file attività</h3>
        <img src="assets/immagini/esempio_att.png" />
      </div>
      <div class="img-iscr" *ngIf="visualizza == 'ISCR'">
        <h2>N.B: Nel file usato per l'inserimento gli iscritti devono essere tutti dello stesso corso!!!</h2>
        <h3>Esempio formattazione file iscritti</h3>
        <img src="assets/immagini/esempio_iscr.png" />
      </div>
      <div class="img-prof" *ngIf="visualizza == 'PROF'">
        <h3>Esempio formattazione file professori</h3>
        <img src="assets/immagini/esempio_prof.png" />
      </div>
      <div class="img-profUnicam" *ngIf="visualizza == 'PROFUNICAM'">
        <h3>Esempio formattazione file professori Unicam</h3>
        <img src="assets/immagini/esempio_profUnicam.png" />
      </div>
    </div>
  </div>
</body>
</html>
