.container {
  padding-top: 30px;
  padding-bottom: 50px;
}

.wrapper {
  width: 100%;
}

.title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 150px;
}

.line {
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #222C4A;
  background-color: #7FBD32;
}

.title {
  margin-top: 50px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  z-index: 1000;
  color: #E2001A;
}

h1 {
  text-align: center;
  color: #333;
}

.select-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload-filter {
  width: 250px;
}

.singleProf {
  text-align: center;
  align-items: center;
}

/* Stile per i campi di input e i selettori */
input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1.5px solid rgb(100, 100, 100);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="text"],
input[type="number"],
select {
  width: 150%;
}

/* Stile per le etichette */
.field-title {
  font-weight: bold;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

/* Stile per i pulsanti */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}

/* Stile per i pulsanti di ricerca */
button.btn {
  background-color: #008CBA;
  margin-left: 10px;
  width: auto;
}

/* Stile per i contenitori delle immagini */
.image-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stile per le immagini di esempio */
.image-container img {
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: center;
}

/* Stile per le descrizioni delle immagini */
.image-container h2,
.image-container h3 {
  color: #555;
  text-align: center;
}

/* Stile per i campi obbligatori */
input[required],
select[required] {
  border-bottom: 3px solid rgb(150, 70, 70);
}

/* Stile per i moduli */
.upload {
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iscritti {
  width: 100%;
}

/* Stile per contenitore di campi accanto */
.data-fields {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 10px 20px;
  max-width: 800px;
}

.data-inizio-field, .data-fine-field {
  align-content: center;
}

.data-input {
  width: 250px;
}

.file-input {
  padding-top: 20px;
}

.upload-button {
  margin-top: 20px;
}

.img-iscr {
  display: block;
  text-align: center;
  width: 75%;
}

.error-label {
  color: rgb(230, 78, 78);
  font-size: small;
  display: block;
  text-align: center;
}

@media (max-width: 900px) {

  .line {
    font-size: 17px;
  }
  
}

@media (max-width: 600px) {

  .line {
    font-size: 13px;
  }
  
}