agm-map {
  height: 900px;
}

#map{
  height: 900px;
}


svg{
  margin-top: 20px;
  padding-bottom: 150px;
}


svg path{
  cursor: pointer;
  stroke: black;
}

.title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 150px;
}

.title {
  margin-top: 50px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  z-index: 1000;
  color: #E2001A;
}

.line {
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #222C4A;
  background-color: #7FBD32;
}

.page-container{
  width: 100%;
  display: block;
}

.page-content{
  width: 100%;
  display: block;
}


.selezione-filtro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.map-filter {
  width: 700px;
  padding-left: auto;
}

.map-and-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-results {
  display: flex;
  padding-bottom: 500px;
}

.mappa{
  flex-basis: 60%;
  display: block;
  padding-top: 20px;
  padding-left: 50px;
  margin-right: -10%;
  overflow-x: auto;
}

.risultati{
  max-height: 90vh;
  overflow-y: auto;
  float: right;
}

@media (max-width: 1200px) {
  
  .mappa {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  
  .map-filter {
    width: 75%;
  }
}

@media (max-width: 650px) {

  .line {
    font-size: 17px;
  }
  
}

@media (max-width: 800px) {

  .page-content {
    flex-direction: column;
  }
}