<html lang="en">
<div class="title-container">
  <h2 class="title">Iscrizione</h2>
</div>
<div class="container">
  <div class="line">CARICAMENTO ATTIVITA'</div>
  <div class="subscription-form">
    <div class="activity-field">
      <label class="field-title" for="citta">Attività da svolgere</label>
      <input [value]="attivita" type="text" list="activityName" id="activity" name="activity" [(ngModel)]="attivita"
        (change)="cambioAttivita($event)" (change)="toggleDropdownS()" autocomplete="off" placeholder="Attività" required/>
      <datalist class="activities-list" id="activityName">
        <option value="">-</option>
        <option *ngFor="let a of listaAttivita" [value]="a.nome">{{a.nome}}</option>
      </datalist>
    </div>
    <label class="error-label" *ngIf="errorNome">Inserire l'attività.</label>

    <div class="name-field">
      <label class="field-title">Nome</label>
      <input [value]="nome" type="text" id="text" (change)="cambioNome($event)" placeholder="Nome" required />
    </div>
    <label class="error-label" *ngIf="errorNome">Inserire il nome.</label>

    <div class="surname-field">
      <label class="field-title">Cognome</label>
      <input [value]="cognome" type="text" id="text" (change)="cambioCognome($event)" placeholder="Cognome" required />
    </div>
    <label class="error-label" *ngIf="errorCognome">Inserire il cognome.</label>

    <div class="email-field">
      <label class="field-title">Email</label>
      <input [value]="cognome" type="email" id="email" (change)="cambioEmail($event)" placeholder="email@esempio.com"
        required />
    </div>
    <label class="error-label" *ngIf="errorEmail">Inserire correttamente l'email.</label>

    <div class="city-field">
      <label class="field-title" for="citta">Città</label>
      <input [value]="citta" type="text" list="cityName" id="citta" name="citta" [(ngModel)]="citta"
        (change)="cambioCitta($event)" (change)="toggleDropdownS()" autocomplete="off" placeholder="Città" required/>
      <datalist class="cities-list" id="cityName">
        <option value="">-</option>
        <option *ngFor="let c of getListaCitta()" [value]="c">{{c}}</option>
      </datalist>
    </div>
    <label class="error-label" *ngIf="errorCitta">Inserire correttamente il nome della città.</label>
    
    <div class="school-field" *ngIf="listaScuole.length > 0">
      <label class="field-title">Scuola</label>
      <select [value]="scuola" type="text" [(ngModel)]="scuola" (change)="cambioScuola($event)" required>
        <option value="">-</option>
        <option *ngFor="let s of listaScuole" [value]="s">{{s}}</option>
      </select>
    </div>
    <label class="error-label" *ngIf="errorScuola && listaScuole.length > 0">Inserire la scuola di provenienza.</label>


    <button class="subscription-button" (click)="checkInvioIscrizione()">Invia!</button>
  </div>
</div>

</html>