<html lang="en">
<div class="title-container">
  <h2 class="title">Iscrizione</h2>
</div>
<div class="container">
  <div class="line">CARICAMENTO ATTIVITA'</div>
  <div class="subscription-form">
    <div class="activity-field">
      <label class="field-title" for="citta">Attività da svolgere</label>
      <select [value]="attivita" (change)="cambioAttivita($event)" type="select" required>
        <option value='' selected disabled hidden>-</option>
        <option *ngFor="let a of listaAttivita" [value]="a">{{a.split('%')[0]}}</option>
      </select>
    </div>
    <label class="error-label" *ngIf="errorAttivita">Inserire l'attività.</label>

    <div class="name-field">
      <label class="field-title">Nome</label>
      <input [value]="nome" type="text" id="nome" (change)="cambioNome($event)" placeholder="Nome" required />
    </div>
    <label class="error-label" *ngIf="errorNome">Inserire il nome.</label>

    <div class="surname-field">
      <label class="field-title">Cognome</label>
      <input [value]="cognome" type="text" id="cognome" (change)="cambioCognome($event)" placeholder="Cognome" required />
    </div>
    <label class="error-label" *ngIf="errorCognome">Inserire il cognome.</label>

    <div class="email-field">
      <label class="field-title">Email</label>
      <input [value]="email" type="email" id="email" (change)="cambioEmail($event)" placeholder="email@esempio.com"
        required />
    </div>
    <label class="error-label" *ngIf="errorEmail">Inserire correttamente l'email.</label>

    <div class="city-field">
      <label class="field-title" for="citta">Città</label>
      <input [value]="citta" type="text" list="cityName" id="citta" name="citta" [(ngModel)]="citta"
        (change)="cambioCitta($event)" (change)="toggleDropdownS()" autocomplete="off" placeholder="Città" required/>
      <datalist class="cities-list" id="cityName">
        <option value="">-</option>
        <option *ngFor="let c of getListaCitta()" [value]="c">{{c}}</option>
      </datalist>
    </div>
    <label class="error-label" *ngIf="errorCitta">Inserire correttamente il nome della città.</label>
    
    <div class="school-field" *ngIf="listaScuole.length > 0">
      <label class="field-title">Scuola</label>
      <select [value]="scuola" type="select" [(ngModel)]="scuola" (change)="cambioScuola($event)" placeholder="Scuola" required>
        <option value="" selected disabled hidden>-</option>
        <option *ngFor="let s of listaScuole" [value]="s">{{s}}</option>
      </select>
    </div>
    <label class="error-label" *ngIf="errorScuola && listaScuole.length > 0">Inserire la scuola di provenienza.</label>


    <button class="subscription-button" (click)="checkInvioIscrizione()">Invia!</button>
    <label class="error-label" *ngIf="errorAttivita || errorNome || errorCognome || errorEmail || errorCitta || errorScuola">ERRORE NELLA COMPILAZIONE DEL FORM!</label>
  </div>
</div>

</html>