<div class="container">
  <div class="title-container">
    <h2 class="title">Statistiche</h2>
  </div>
  <div class="wrapper">
    <div class="bottoni">
      <button mat-button class="btn1" id="btn1" (click)="onClick1()" [ngStyle]="{
        background: click==1 ? '#d4eab9' : '#7FBD32'
      }">
        Vista scuole
      </button>
      <button mat-button class="btn2" id="btn2" (click)="onClick2()" [ngStyle]="{
        background: click==2 ? '#d4eab9' : '#7FBD32'
      }">
        Vista attività
      </button>
      <button mat-button class="btn3" id="btn3" (click)="onClick3()" [ngStyle]="{
        background: click==3 ? '#d4eab9' : '#7FBD32'
      }">
        Vista Professori Scuole
      </button>
      <button mat-button class="btn4" id="btn4" (click)="onClick4()" [ngStyle]="{
        background: click==4 ? '#d4eab9' : '#7FBD32'
      }">
        Vista Professori Unicam
      </button>
    </div>

    <div class="filter">
      <div class="view-activity-and-school-filters-div" *ngIf="click < 3">
        <mat-form-field class="year-filter" *ngIf="click == 1">
          <mat-label>Seleziona anno</mat-label>
          <mat-select (selectionChange)="cambioAnno($event.value)">
            <mat-option value=0>-</mat-option>
            <mat-option class="year-filter-option" *ngFor="let an of anniRes" [value]="an.value">
              {{ an.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="view-filter" *ngIf="click == 1">
          <mat-label>Ordinamento vista</mat-label>
          <mat-select class="view-filter-option" (selectionChange)="cambioOrdinamento($event.value)">
            <mat-option value="">-</mat-option>
            <mat-option value="ISCRITTI">Per numero di iscritti</mat-option>
            <mat-option value="REGIONI">Alfabetico per regione</mat-option>
            <mat-option value="SCUOLE">Alfabetico per le scuole</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="year-filter" *ngIf="click == 2">
          <mat-label>Seleziona anno</mat-label>
          <mat-select (selectionChange)="cambioAnno($event.value)">
            <mat-option value=0>-</mat-option>
            <mat-option class="year-filter-option" *ngFor="let an of anniRisAtt" [value]="an.value">
              {{ an.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="view-filter" *ngIf="click == 2">
          <mat-label>Ordinamento vista</mat-label>
          <mat-select class="view-filter-option" (selectionChange)="cambioOrdinamentoAtt($event.value)">
            <mat-option value="">-</mat-option>
            <mat-option value="ISCRITTI">Per numero di iscritti</mat-option>
            <mat-option value="NOME">Alfabetico per attività</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-filter input-activity-filter" *ngIf="click == 2">
        <input type="text" id="text-filter" name="text-filter" (value)="textFilterA" [(ngModel)]="textFilterA"
          (change)="textFilterActivityApply($event)" autocomplete="off" placeholder="Filtra per attività" />
      </div>

      <div class="view-region-prof-filter" *ngIf="click == 1 || click == 3">
        <mat-form-field class="view-filter view-region-filter">
          <mat-label>Ordina per regione</mat-label>
          <mat-select class="view-filter-option" (selectionChange)="cambioRegione($event.value)">
            <mat-option value="">-</mat-option>
            <mat-option *ngFor="let r of getListaRegioni()" [value]="r">{{r}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="view-province-prof-filter" *ngIf="click == 1 || click == 3">
        <mat-form-field class="view-filter view-province-filter" *ngIf="regione!=''">
          <mat-label>Ordina per provincia</mat-label>
          <mat-select class="view-filter-option" (selectionChange)="cambioProvincia($event.value)">
            <mat-option value="">-</mat-option>
            <mat-option *ngFor="let p of getListaProvince()" [value]="p">{{p}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="view-city-prof-filter" *ngIf="click == 3">
        <mat-form-field class="view-filter view-city-filter" *ngIf="provincia!=''">
          <mat-label>Ordina per citta</mat-label>
          <mat-select class="view-filter-option" (selectionChange)="cambioCitta($event.value)">
            <mat-option value="">-</mat-option>
            <mat-option *ngFor="let c of getListaCitta()" [value]="c">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-filter input-city-filter" *ngIf="click == 1">
        <input type="text" list="text-filter" id="text-filter" name="text-filter" (value)="textFilterC"
          [(ngModel)]="textFilterC" (change)="textFilterCityApply($event)" autocomplete="off"
          placeholder="Filtra per città" />
        <datalist class="profUni-list" id="text-filter">
          <option value="">-</option>
          <option *ngFor="let c of getFilteredRes()" [value]="c.scuola.citta">{{c.scuola.citta}}</option>
        </datalist>
      </div>

      <div class="input-filter input-prof-filter" *ngIf="click > 2">
        <input type="text" id="text-filter" name="text-filter" (value)="textFilterP" [(ngModel)]="textFilterP"
          (change)="textFilterProfApply($event)" autocomplete="off" placeholder="Filtra per professore" />
      </div>
    </div>
  </div>

  <div class="generato">
    <div class="spazio schools-view" *ngIf="click == 1">
      <div class="school-button">
        <button class="button-download" id="scaricaScuoleButton" (click)="scaricaVistaScuole()">
          <span class="button-content">Scarica Vista Scuole </span>
        </button>
      </div>
      <div class="school-chart">
        <google-chart class="chart" [type]="mainChartType" [data]="mainChartDataSch" [columns]="mainChartColumnsSch"></google-chart>
        <google-chart class="chart" *ngIf="this.anno!=0" [type]="optChartType" [data]="optChartDataSch" [columns]="optChartColumnsSch"></google-chart>
      </div>
      <div class="schools-info">
          <div class="school-card" *ngFor="let ris of getFilteredRes()">
              <mat-expansion-panel class="school-results-panel" [ngStyle]="{
                background: ris.iscritti.length > 0 ? '#a0c4e0' : '#c9b6b6'
                }">
                <mat-expansion-panel-header class="school-results-panel-header">
                  <mat-panel-title class="school-results-main-data" *ngIf="ris.scuola!=null">
                    <div *ngIf="ris.scuola.nome!=''" class="school-card-name">{{ ris.scuola.nome }}</div>
                    <div *ngIf="ris.scuola.citta!=''">Citta: {{ ris.scuola.citta }}</div>
                    <div *ngIf="ris.scuola.provincia!=''">Provincia: {{ ris.scuola.provincia }}</div>
                    <div *ngIf="ris.scuola.regione!=''">Regione: {{ ris.scuola.regione }}</div>
                    <div>Anno: {{ creaStringaAnnoAcc(ris.annoAcc) }}</div>
                  </mat-panel-title>
                  <mat-panel-description class="school-results-subscription">
                    Totale iscritti: {{ ris.iscritti.length }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="school-results-container">
                  <ng-container class="school-results-container-element" *ngFor="let a of ris.attivita">
                    <div>NomeAttività: {{ a.nomeAttivita }}</div>
                    <div *ngIf="a.tipo!=''">Tipo: {{a.tipo}}</div>
                    <div>Partecipanti: {{ a.partecipanti.length }}</div>
                    <div>Iscritti: {{ a.iscritti.length }}</div>
                  </ng-container>
                </div>
                <div *ngIf="ris.iscritti.length > 0">
                  Elenco Iscritti:<br>
                  <ng-container *ngFor="let i of ris.iscritti.sort()">
                    {{ i.cognome }} {{ i.nome }}<br>
                  </ng-container>
                </div>
              </mat-expansion-panel>
          </div>
      </div>
    </div>

    <div class="spazio activities-view" *ngIf="click == 2">
      <div class="activity-button">
        <button class="button-download" id="scaricaRisButton" (click)="scaricaVistarisulati()">
          <span class="button-content">Scarica Vista Risultati </span>
        </button>
      </div>
      <div class="activity-chart">
        <google-chart class="chart" [type]="mainChartType" [data]="mainChartDataAct" [columns]="mainChartColumnsAct"></google-chart>
        <google-chart class="chart" *ngIf="this.anno!=0" [type]="optChartType" [data]="optChartDataAct" [columns]="optChartColumnsAct"></google-chart>
      </div>
      <div class="activities-info">
          <div class="activity-card" *ngFor="let ris of getFilteredRisAtt()">
            <mat-accordion class="activity-results-accordion">
              <mat-expansion-panel class="activity-results-panel" [hidden]="ris.universitarii.length == 0"
                [hideToggle]="ris.universitarii.length == 0" [ngStyle]="{
                  background: ris.universitarii.length > 0 ? '#a0c4e0' : '#c9b6b6'
                }">
                <mat-expansion-panel-header class="activity-results-panel-header">
                  <mat-panel-title class="activity-panel-title">
                    Attività: {{ ris.attivita }}<br>
                    Anno: {{ creaStringaAnnoAcc(ris.annoAcc) }}
                  </mat-panel-title>
                  <mat-panel-description class="activity-results-subscription">
                    Totale iscritti: {{ ris.universitarii.length }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-container *ngIf="ris.universitarii.length == 0">
                  NESSUN DATO DA SEGNALARE
                </ng-container>
                <ng-container *ngIf="ris.universitarii.length > 0">
                  <div class="activity-container-type" *ngIf="ris.tipo!=''">
                    Tipo: {{ris.tipo}}
                  </div>
                  <div *ngFor="let i of ris.universitarii">
                    {{ i.cognome }} {{ i.nome }}<br>
                  </div>
                </ng-container>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
      </div>
    </div>

    <div class="spazio school-prof-view" *ngIf="click == 3">

      <div class="school-prof-button">
        <button class="button-download" id="scaricaProfButton" (click)="scaricaVistaProfessori()">
          <span class="button-content">Scarica Vista Professori </span>
        </button>
      </div>

      <div class="school-prof-results" *ngFor="let p of getProfList()">

        <mat-card class="school-prof-card">
          <mat-card-header class="school-prof-name">
            <h1>{{ p.professore.nome }} {{ p.professore.cognome }}</h1>
          </mat-card-header>
          <mat-card-content>
            email: {{ p.professore.email }}
            <br />
            scuola: {{ p.scuola.nome }}
            <br />
            città : {{ p.scuola.citta }}
            <br />
            regione : {{ p.scuola.regione }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="spazio unicam-prof-view" *ngIf="click == 4">

      <div class="unicam-prof-button">
        <button class="button-download" id="scaricaProfUnicamButton" (click)="scaricaVistaProfessoriUnicam()">
          <span class="button-content">Scarica Vista Professori Unicam </span>
        </button>
      </div>

      <div class="unicam-prof-results" *ngFor="let p of getProfUnicamList()">
        <mat-card class="unicam-prof-card">
          <mat-card-header class="unicam-prof-name">
            <h1>{{ p.professore.nome }} {{ p.professore.cognome }}</h1>
          </mat-card-header>
          <mat-card-content>
            email: {{ p.professore.email }}
            <br />
            nome: {{ p.professore.nome }}
            <br />
            cognome : {{ p.professore.cognome }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>