.lst1 {
  background-color: #fff;
}

.title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 150px;
}

.title {
  margin-top: 50px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  z-index: 1000;
  color: #E2001A;
}

.wrapper {
  display: block;
}

.pannelli {
  display: flex;
}

.spazio {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

.unicam-prof-view, .school-prof-view {
  align-items: center;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1.5px solid rgb(100, 100, 100);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.school-button, .activity-button, .school-prof-button, .unicam-prof-button {
  padding-bottom: 20px;
}

.school-chart, .activity-chart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 20px;
  gap: 30px;
}

.chart {
  width: auto;
  height: 300px;
  padding-bottom: 20px;
  
}

.activities-info, .schools-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.school-card, .activity-card {
  width: auto;
  min-width: 600px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.school-card-name, .activity-card-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.school-results-panel {
  background-color: #b69999;
}

.school-results-container {
  text-align: left;
}

.school-results-panel-header {
  height: 150px;
}

.school-results-main-data, .activity-results-main-data {
  display: block;
  flex-direction: column;
  text-align: left;
}

.activity-results-panel-header {
  height: 100px;
}

.school-prof-results, .unicam-prof-results {
  width: 450px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #b7b7b7;
}

.school-prof-card, .unicam-prof-card {
  background-color: #d6d6d6;
}

.school-results-subscription, .activity-results-subscription {
  display: block;
  text-align: right;
  align-self: center;
}

.school-prof-name {
  display: block;
  text-align: center;
}

.unicam-prof-name {
  display: block;
  flex-direction: column;
  text-align: center;
}

.button-download {
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: green;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-download:hover {
  background-color: rgb(84, 59, 123);
}

#scaricaScuoleButton {
  width: 250px;

}
#scaricaRisButton{
  width: 250px;
}
#scaricaProfButton {
  width: 250px;
}
#scaricaProfUnicamButton {
  width: 275px;
}

.bottoni {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75px;
  border: none;
  background-color: #7FBD32;
}

.btn1, .btn2, .btn3, .btn4 {
  width: 200px;
  font-size: 15px;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
  height: auto;
  background-color: white;
}

.filter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.view-prof-filters-div {
  display: flex;
  justify-content: center;
}

.activity-container-type {
  text-align: left;
}

.year-filter, .view-filter {
  width: 200px;
}

.year-filter, .view-filter , .input-filter {
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 710px) {

  .bottoni {
    height: auto;
  }

  .school-prof-results, .unicam-prof-results {
    width: 75%;
  }

  .view-activity-and-school-filters-div{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 550px) {

  .bottoni {
    height: auto;
  }

  .school-card, .activty-card {
    margin-bottom: 50px;
  }

  .school-results-panel-header, .activity-results-panel-header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
  }

}