.container {
  display: block;
}

.lst1 {
  background-color: #fff;
}

.title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 150px;
}

.title {
  margin-top: 50px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  z-index: 1000;
  color: #E2001A;
}

.wrapper {
  display: block;
}

.generato {
  display: block;
}

.pannelli {
  display: flex;
}

.spazio {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

.unicam-prof-view, .school-prof-view {
  align-items: center;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1.5px solid rgb(100, 100, 100);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.school-button, .activity-button, .school-prof-button, .unicam-prof-button {
  padding-bottom: 20px;
}

.activity-div {
  display: flex;
}

.activity-results, .activity-chart {
  flex: 1;
}

.activity-chart {
  display: block;
}

.activity-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-results, .activity-card {
  width: 500px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.school-results-panel {
  background-color: #b69999;
}

.school-results-container {
  text-align: left;
}

.school-results-panel-header {
  text-align: left;
  height: 120px;
}

.activity-results-panel-header {
  height: 80px;
}

.school-prof-results, .unicam-prof-results {
  width: 450px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.school-results-subscription, .activity-results-subscription {
  display: block;
  text-align: right;
  align-self: center;
}

.school-prof-name {
  display: block;
  text-align: center;
}

.unicam-prof-name {
  display: block;
  flex-direction: column;
  text-align: center;
}

.button-download {
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: green;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-download:hover {
  background-color: rgb(84, 59, 123);
}

#scaricaScuoleButton {
  width: 250px;

}
#scaricaRisButton{
  width: 250px;
}
#scaricaProfButton {
  width: 250px;
}
#scaricaProfUnicamButton {
  width: 275px;
}

.bottoni {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75px;
  border: none;
  background-color: #7FBD32;
}

.btn1, .btn2, .btn3, .btn4 {
  width: 200px;
  font-size: 15px;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
  height: auto;
  background-color: white;
}

.filter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.view-prof-filters-div {
  display: flex;
  justify-content: center;
}

.activity-panel-title, .activity-container-type {
  text-align: left;
}

.year-filter, .view-filter {
  width: 200px;
}

.year-filter, .view-filter , .input-filter {
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 710px) {
  .school-prof-results, .unicam-prof-results {
    width: 75%;
  }

  .view-activity-and-school-filters-div{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 550px) {

  .bottoni {
    height: auto;
  }

  .school-results-accordion, .activty-results-accordion {
    margin-bottom: 50px;
  }

  .school-results-panel-header, .activity-results-panel-header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
  }

}