<div class="dashboard">
  <img class="logo" src="assets/immagini/logo_unicam.png" routerLink="">
  <mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" opened class="sd-lst">
      <mat-list role="list">
        <mat-list-item role="listitem" routerLink="" class="lst lst0">Home</mat-list-item>
        <mat-list-item role="listitem" routerLink="admin" class="lst lst1">Admin</mat-list-item>
        <mat-list-item role="listitem" routerLink="stats" class="lst lst2">Statistiche</mat-list-item>
        <mat-list-item role="listitem" routerLink="map" class="lst lst3">Mappa</mat-list-item>
        <mat-list-item role="listitem" routerLink="upload" class="lst lst4">Upload</mat-list-item>
        <mat-list-item role="listitem" routerLink="form" class="lst lst5">Iscrizione</mat-list-item>
        
      </mat-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
